{% extends 'base.html' %}

{% block title %}
<title>Правила</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Правила фотостудии</h1></br>
    <h5>Время аренды</h5>
    <ul>
        <li>Началом аренды студии считается заявленное время, которое Вы забронировали, а не фактическое время прибытия арендатора и начала съёмки;</li>
        <li>В случае опоздания Арендатора, забронированное время не продлевается. Если Арендатор опаздывает более, чем на 30 минут и не предупредил об этом, считается, что Арендатор не явился на съемку;</li>
        <li>Фактическое время нахождения в зале - <i>55 минут от часа</i>, после чего арендатор и вся съемочная команда должны освободить зал и передать его в том же состоянии, в котором Вы его приняли. Пожалуйста, рассчитывайте время для ваших сборов;</li> 
        <li>Минимальная продолжительность аренды одного зала – <i>1 час</i>;</li>
        <li>При досрочном завершении съемки, забронированное время оплачивается полностью;</li>
        <li>Если после забронированного времени студия свободна, Вы можете продлить съемочное время (уточните эту возможность у Администратора студии до начала съемки). 
    </ul>
    <h5>Нахождение в студии</h5>
    <ul>
        <li>Нахождение в студии возможно только в чистой сменной обуви. Арендатор должен предупредить всю команду о необходимости иметь чистую обувь. В случае, если Вы не взяли сменную обувь, мы предложим вам тапочки, либо бахилы;</li>
        <li>Фотостудия сдаёт зал с чистой циклорамой, убедительная просьба ходить по ней либо босиком, либо в обуви, заклеенной малярным скотчем. 
            За сильное загрязнение циклорамы взимается <i>штраф 1000руб</i>. Если вам нужна свежевыкрашенная циклорама, сообщайте об этом заранее, в момент бронирования.</br><i>Стоимость покраски 3000руб</i>;</li>
        <li>Курение в студии разрешено только в случае создания сценического образа модели (строго по согласованию с Администрацией), во всех остальных случаях, курение категорически запрещено. <i>Штраф - 5 000 руб</i>;</li>
        <li>Съемка с животными производится по согласованию с администрацией. За животных взимается дополнительная плата <i>от 300 руб. за съемку</i>. Данная информация обговаривается с Администратором.</li>
    </ul>
    <h5>Ответственность арендатора</h5>
    <ul>
        <li>Арендуя студию, Вы подтверждаете, что несете материальную ответственность за ущерб, нанесенный оборудованию, фонам, мебели, стеклам и передвижным конструкциям студии, а также за действие лиц, находящихся в фотостудии во время съемки;</li>
        <li>За порчу и поломку оборудования, аксессуаров, интерьера, и всей другой собственности фотостудии, Арендатор несет полную материальную ответственность и возмещает убытки в размере рыночной стоимости. Подробную информацию можно уточнить у Администратора;</li>
        <li>Арендатор также несет ответственность за прибывших вместе с ним посетителей;</li>
        <li>Администрация оставляет за собой право не допускать в студию и удалять из студии лиц в состоянии алкогольного или наркотического опьянения</i>.</li>
    </ul>
</div>
{% endblock %}



